body{
    background-image: url('./السياحة\ ضبابية.png');
}
h1{
    padding: 1cm;
    margin-left: 13cm;
}
nav1{
    margin-left: 5cm;
    margin-right: 5cm;
}
p{
    margin-left: 6cm;
    padding-top: 1cm;
}
p2{
    margin-left: 8cm;
}
form{
    margin-left: 7cm;
}